*{
    padding: 0 auto;
    margin: 0 auto;
}

/* selectores de ID*/
#contenedor {
   width: 900px;
   height: 1200px;
   background-color: #d49e23;

}




#encabezado {
   height:  25%;
   background-color:  #d9bd1f;
  


}


#imagenes {
    height: 5%;
    margin: lem auto;
 }

#menu {
   height: 5%;
   background-color: #713505;
   margin: lem auto;
}

#seccion1 {
    height: 30%;
    border: 2px color #68531e;
    background-color: #b01a1c;
   
 }

 #seccion2 {
    height: 30%;
    border: 2px color #68531e;
    background-color: #dcc43c;
   
 }

#contenido {
   height: 70%;
   width: 61%;
   background-color: coral;
   margin: 0.5%em;
   float: left;

}

#fueraSeccion {
   height: 70%;
   width: 36%;
   background-color: greenyellow;
   margin: 0.5em;
   float: right;

}

#pie {
   height: 10%;
   background-color: #744607;
   border-radius: lem;
   width: 900px;
   
}

.t2 {
    text-align: right;
}

.texto{
   text-align: justify;
   font-family: tahoma;
   font-size: 10;
   padding-top: 10px;
   margin-right: 15%;
   margin-left: 15%;
}

.encabezado_articulo{
   text-align: center;
   background-color: #333;
   color: whitesmoke;
   


}

.imagenes {
   display: block;
   border: 1px solid #ddd;
   margin-left: 50%;
   border-radius: 4px;
   width: 50%;
   
   
}

/* selector de etiqueta */

ul {
      text-align: center;
      

}

img {
    width: 100px;
    border-top: 1px solid ;
    margin: 5px;


}

li {

   display: inline;
   padding-left: 60px;
   padding-right: 60px;
   text-align: center;


   
}

.border {
    border: solid 5px #333;
    text-align: justify;
    padding-bottom: 20px;
    margin-top: 45px;
    padding-left: 5px;
    font-size: small;
    }
.border1 {
    border: solid 5px #333;
    text-align: justify;
    margin: 2px;
    padding-bottom: 30px;
    font-size: medium;
    }